*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  height: 100%;
}

body {
  padding: 0;
  height: 100%;
}

body.darkmode {
  -webkit-filter: invert(1);
          filter: invert(1);
  background-color: #000;
}

body.darkmode h1 {
  color: #000;
}

@font-face {
  font-family: "Font-Awesome";
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url("../fonts/fa-solid-900.woff2") format("woff2");
}

@font-face {
  font-family: "Font-Awesome";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("../fonts/fa-regular-400.woff2") format("woff2");
}

@font-face {
  font-family: "Font-Awesome";
  font-style: normal;
  font-weight: 300;
  font-display: block;
  src: url("../fonts/fa-light-300.woff2") format("woff2");
}

@font-face {
  font-family: "Font-Awesome-brands";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("../fonts/fa-brands-400.woff2") format("woff2");
}

h1 {
  -webkit-column-break-before: column;
          break-before: column;
}

.book-container {
  padding: 1.5rem 0;
}

.book-wrapper {
  padding: 0 1.5rem 0;
  word-break: break-word;
  direction: rtl;
}

.book {
  height: calc(100vh - 3rem);
  width: 100%;
  overflow: hidden;
  outline: none;
  -webkit-column-width: 500rem;
          column-width: 500rem;
  -webkit-column-count: auto;
          column-count: auto;
  -webkit-column-gap: 1.5rem;
          column-gap: 1.5rem;
  -webkit-column-fill: balance;
          column-fill: balance;
  scrollbar-width: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding-bottom: 5rem;
  visibility: hidden;
  opacity: 0;
}

.book.demo {
  position: absolute;
  left: 1.5rem;
  top: 1.5rem;
  right: 1.5rem;
  width: auto;
  visibility: visible;
  opacity: 1;
}

@media screen and (min-width: 1023px) {
  .book {
    -webkit-column-count: 2;
            column-count: 2;
    -webkit-column-width: inherit;
            column-width: inherit;
  }
}

.bottom-bar {
  position: fixed;
  left: 0;
  width: 100%;
  display: none;
  background-color: rgba(255, 255, 255, 0.75);
  border-top: 1px solid #a6a5b2;
  -webkit-backdrop-filter: blur(0.5rem);
  backdrop-filter: blur(0.5rem);
  padding: 1.5rem 2rem;
  bottom: 0;
  min-width: 1024px;
}

.bottom-bar > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.font-size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.font-size .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  border-right: 0.01rem solid #cacaca;
  border-radius: 0;
  border-bottom: 0.01rem solid #cacaca;
  padding: 20px;
  height: 60px;
}

.font-size .btn:last-child {
  border-right: 0;
}

.font-size #pagination-font-smaller {
  font-size: 15px;
}

.font-size #pagination-font-bigger {
  font-size: 25px;
}

.font-size #pagination-font-reset {
  font-size: 20 px;
}

.pagination-info {
  margin: 0 2rem;
}

.bar-right {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bar-right button {
  margin: 0 3px;
}

.control-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 10px;
}

.control-row h5 {
  font-size: 1.8rem;
  margin-right: auto;
}

.btn {
  outline: 0;
  border: 0;
  background: none;
  border-radius: 0.3rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 0;
  /*rtl:raw:
  font-family: "NotoNaskhArabic", sans-serif;
    */
}

.btn[disabled] {
  pointer-events: none;
  opacity: 0.5;
}

.btn-icon-outline-grey {
  background-color: transparent;
  border: 0.5px solid #a6a5b2;
}

.btn-text {
  color: #333;
}

.btn-text:hover {
  color: #333;
}

.btn-icon {
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-size: 2.5rem;
  background-repeat: no-repeat;
  background-position: center;
}

.btn-icon img {
  max-width: 2rem;
  max-height: 2rem;
}

.btn-link {
  border: 0;
  color: #333;
  background-color: transparent;
}

.f-icon {
  position: relative;
  display: inline-block;
  line-height: 0;
}

.f-icon:before {
  content: "";
  display: inline-block;
  font-family: "Font-Awesome";
  font-weight: 900 !important;
  font-style: normal !important;
  font-size: inherit;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: "liga";
          font-feature-settings: "liga";
}

.f-icon.brand:before {
  font-family: "Font-Awesome-Brands";
  font-weight: 300 !important;
}

.f-icon.light:before {
  font-weight: 300 !important;
}

.f-icon.medium:before {
  font-weight: 500 !important;
}

.chevron-double-left-icon:before {
  content: "\f323";
}

.chevron-double-right-icon:before {
  content: "\f324";
}

.chevron-right-icon::before {
  content: "\f054";
}

.chevron-left-icon::before {
  content: "\f053";
}

.cog-icon::before {
  content: "\f013";
}

.dropdown {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.dropdown.show .dropdown-menu {
  display: block;
}

.dropdown-menu {
  position: absolute;
  bottom: 5rem;
  left: -10px;
  display: none;
  min-width: 34.9rem;
  background-color: #f2f2f6;
  border-radius: 1.4rem;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.dropdown-menu:before {
  content: "\f0d7";
  position: absolute;
  font-family: "Font-Awesome";
  color: #f2f2f6;
  bottom: -25px;
  left: 2rem;
  z-index: 1;
  font-weight: bold;
  font-size: 4rem;
}

.checkbox-switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
}

.checkbox-switch:last-child {
  margin-bottom: 0;
}

.checkbox-switch span.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin: 0;
}

.checkbox-switch span.switch input[type="checkbox"] {
  display: none;
}

.checkbox-switch span.switch input[type="checkbox"]:focus + .slider,
.checkbox-switch span.switch input[type="checkbox"]:focus + input[type="hidden"] + .slider {
  -webkit-box-shadow: 0 0 1px green;
          box-shadow: 0 0 1px green;
}

.checkbox-switch span.switch input[type="checkbox"]:checked + .slider:before,
.checkbox-switch span.switch input[type="checkbox"]:checked + input[type="hidden"] + .slider:before {
  -webkit-transform: translateX(22px);
          transform: translateX(22px);
}

.checkbox-switch span.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: solid 1px gray;
  background-color: gray;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 20px;
}

.checkbox-switch span.switch .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  top: -2px;
  left: -1px;
  bottom: 0;
  background-color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 50%;
  border: solid 1px gray;
}
/*# sourceMappingURL=app.css.map */