:root {
  --bgColor: white;
  --textColor: black;
  --darkBg: black;
  --greyBg: #f5f5f5;
}

*,
::after,
::before {
  box-sizing: border-box;
}
html {
  font-size: 10px;
  height: 100%;
}

body {
  padding: 0;
  height: 100%;

  .book-container {
    background-color: var(--bgColor);
    color: var(--textColor);
  }

  .blockquote, .epigraph {
    background-color: var(--greyBg);
  }

  &.dark {
    --bgColor: black;
    --textColor: white;
    --darkBg: white;
    --greyBg: #111;
  }
  &.warm {
    --bgColor: #f6efdf;
    --textColor: black;
    --darkBg: #efc976;
    --greyBg: #f2e4c5;
  }
}
