@font-face {
  font-family: "NotoNaskhArabic";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("./fonts/NotoNaskhArabic.woff2") format("woff2");
}
@font-face {
  font-family: "NotoNaskhArabic";
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url("./fonts/NotoNaskhArabic-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Font-Awesome";
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url("./fonts/fa-solid-900.woff2") format("woff2");
}

@font-face {
  font-family: "Font-Awesome";
  font-style: normal;
  font-weight: 300;
  font-display: block;
  src: url("./fonts/fa-light-300.woff2") format("woff2");
}
