.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.app-bar {
  font-family: $appFont;
  position: fixed;
  left: 0;
  width: 100%;
  background-color: var(--greyBgRgb);
  color: var(--textColorRgb);
  border-color: rgba(var(--textColor), 0.2) !important;
  -webkit-backdrop-filter: blur(0.5rem);
  backdrop-filter: blur(0.5rem);
  padding: 1.5rem 2rem;
  min-height: 7.3rem;
  transition: transform 0.3s;

  & > div {
    display: flex;
    align-items: center;
    @media screen and (max-width: $mobilexLarge) {
      flex-direction: column;
      align-items: unset;
    }
  }

  > .btn {
    font-family: inherit;
  }

  .btn-icon {
    font-size: 1.6rem;
  }

  &.show {
    transform: none;
    z-index: 1000;
  }

  &--bottom {
    transform: translateY(100%);
    border-top: 1px solid;
    bottom: 0;
  }

  &--top {
    top: 0;
    transform: translateY(-100%);
    border-bottom: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $appFont;
    .action-buttons {
      position: absolute;
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      padding: 0 1.5rem;
      button {
        padding: 0 !important;
        margin: 0;
        i {
          margin: 0;
        }
        &.close-reader {
          margin-left: auto;
        }
      }
      .add-bookmark-btn {
        color: inherit;
        &.bookmark-added {
          i {
            &::before {
              color: $primaryColor;
              font-weight: bold !important;
            }
          }
        }
      }
      @media screen and (max-width: $mobilexLarge) {
        flex-direction: unset;
        align-items: center;
      }
    }
    .btn {
      font-size: 2.1rem;
      height: 4.2rem;
      width: 4.2rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    h1 {
      margin: 0;
      color: var(--textColor);
      font-family: inherit;
      font-size: 2.1rem;
    }
  }
}

.font-size {
  display: flex;
  align-items: center;
  justify-content: center;
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    text-align: center;
    border-left: 0.01rem solid rgba(var(--textColor), 0.2);
    border-radius: 0;
    border-bottom: 0.01rem solid rgba(var(--textColor), 0.2);
    padding: 20px;
    height: 60px;
    margin: 0;
    &:last-child {
      border-left: 0;
    }

    &.disabled {
      opacity: 1;

      color: #999;
    }
  }

  #pagination-font-smaller {
    font-size: 15px;
  }

  #pagination-font-bigger {
    font-size: 25px;
  }

  #pagination-font-reset {
    font-size: 20px;
  }
}

.pagination-info {
  margin: 0 2rem;
  font-size: 1.8rem;
  @media screen and (max-width: $mobilexLarge) {
    margin: 0 auto;
  }
}

.bar-right {
  margin-inline-start: auto;
  display: flex;
  align-items: center;
  button {
    margin: 0 3px;
    &:first-child {
      @media screen and (max-width: $mobilexLarge) {
        margin-inline-start: 0;
      }
    }

    &:last-child {
      @media screen and (max-width: $mobilexLarge) {
        margin-inline-end: 0;
      }
    }
  }

  @media screen and (max-width: $mobilexLarge) {
    order: 1;
    margin: 0;
    margin-bottom: 1rem;
    justify-content: center;
  }
}

.bar-left {
  display: flex;
  align-items: center;
  * + * {
    margin-inline-start: 6px;
  }

  .dropdown {
    &:last-child {
      // margin-inline-start: 0;

      @media screen and (max-width: $mobilexLarge) {
        margin-inline-start: auto;
      }
    }
  }

  @media screen and (max-width: $mobilexLarge) {
    order: 2;
  }
}

.control-row {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 10px;
  margin: 0;
  h5 {
    font-size: 1.8rem;
    margin: 0;
    font-weight: normal;
    margin-inline-end: auto;
    font-family: $appFont;
  }
}

.bar-percent {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  > span {
    position: absolute;
    right: 0;
    top: -1px;
    height: 1px;
    background-color: #ff7a4f;
    transition: width 0.3s;
  }
}

.color-modes {
  display: flex;
  .change-color {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #ddd;
    cursor: pointer;
    &[data-value="white"] {
      background-color: white;
      border-color: white;
      &.selected {
        border-color: black;
      }
    }

    &[data-value="dark"] {
      background-color: black;
      border-color: black;
      &.selected {
        border-color: white;
      }
    }

    &[data-value="warm"] {
      background-color: #f6efdf;
      border-color: #f6efdf;
      &.selected {
        border-color: var(--darkBgRgb);
      }
    }

    & + .change-color {
      margin-inline-start: 10px;
    }
  }
}

.fonts {
  padding: 1rem 0;
  display: none;
  button {
    appearance: none;
    font-size: 1.8rem;
    color: var(--textColorRgb);
    cursor: pointer;
    padding: 1.5rem;
    transition: 0.3s;
    &:hover {
      background-color: rgba(var(--textColor), $alpha: 0.1);
    }

    &.hide-fonts {
      background: none !important;
      padding: 0;
      margin-inline-start: 1rem;
    }
  }
}

.selected-font-family {
  color: rgba(var(--textColor), $alpha: 0.5);
  text-transform: capitalize;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  &::after {
    content: "\f053";
    font-family: $fAwsome;
    margin-inline-start: 5px;
  }
}

.change-font-family {
  width: 100%;
  padding: 1.5rem 0;
  border: 0;
  background: none;
  border-bottom: 1px solid rgba(var(--textColor), 0.2);
  line-height: 1.4;
  display: flex;
  align-items: center;

  &:last-child {
    border-bottom: 0;
  }

  &.selected {
    &::after {
      content: "\f00c";
      font-family: $fAwsome;
      margin-inline-start: auto;
    }
  }
}

.bookmarks-list {
  list-style: none;
  padding: 0;
  margin: 0;

  .dropdown-menu & {
    max-height: 70dvh;
    overflow: auto;
  }

  li {
    border-bottom: 1px solid rgba(var(--textColor), 0.2);
    padding: 1.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    h4 {
      margin: 0;
      font-size: 1.8rem;
      line-height: 1.4;
      margin-right: auto;
      font-weight: 700;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      white-space: normal;
    }

    p {
      font-size: 1.6rem;
      margin: 0;
      line-height: 1.4;
      color: rgba(var(--textColor), 0.5);
    }

    &:last-child {
      border-bottom: 0;
    }

    .tab-content & {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

.add-bookmark-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 15px !important;
  font-size: 1.8rem;
  color: $primaryColor;
  i {
    margin-inline-end: 10px;
  }
}

.dropdown--bookmark {
  .dropdown-menu {
    @media screen and (max-width: $mobilexLarge) {
      left: -10px;
      right: inherit;
    }
    &:before {
      @media screen and (max-width: $mobilexLarge) {
        left: 2rem;
        right: inherit;
      }
    }
  }
}

.option-1 {
  .dropdown-menu {
    @media screen and (max-width: $mobilexLarge) {
      left: -10px;
      right: inherit;
    }
    &:before {
      @media screen and (max-width: $mobilexLarge) {
        left: 2rem;
        right: inherit;
      }
    }
  }
}
