:root {
  --bgColor: 255, 255, 255;
  --textColor: 0, 0, 0;
  --darkBg: 0, 0, 0;
  --greyBg: 245, 245, 245;
  --lightGreyBg: 255, 255, 255;
  --bgHover: #4c4c4c;
}

*,
::after,
::before {
  box-sizing: border-box;
}
html {
  font-size: 10px;
  height: 100%;
}

body {
  --bgColorRgb: rgba(var(--bgColor), 1);
  --textColorRgb: rgba(var(--textColor), 1);
  --darkBgRgb: rgba(var(--darkBg), 1);
  --greyBgRgb: rgba(var(--greyBg), 1);
  --lightGreyBgRgb: rgba(var(--lightGreyBg), 1);
  font-size: 18px;
  padding: 0;
  height: 100%;
  -epub-writing-mode: inherit;
  // user-select: none;
  -webkit-touch-callout: none !important;
  direction: rtl;
  margin: 0;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -webkit-overflow-scrolling: touch;
  .book-container {
    background-color: var(--bgColorRgb);
    *:not(h1) {
      // font-family: inherit;
      // text-indent: 0;
    }

    table {
      width: 100% !important;
    }
  }

  .book-chapter {
    page-break-inside: avoid;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
  }

  .blockquote,
  .epigraph {
    background-color: var(--greyBgRgb);
  }

  &.dark {
    --bgColor: 0, 0, 0;
    --textColor: 255, 255, 255;
    --darkBg: 255, 255, 255;
    --greyBg: 17, 17, 17;
    --lightGreyBg: 51, 51, 51;
    --bgHover: #b2b3b3;
    .book-container {
      color: var(--textColorRgb);
      * {
        color: var(--textColorRgb);
      }
    }
  }
  &.warm {
    --bgColor: 246, 239, 223;
    --textColor: 0, 0, 0;
    --darkBg: 239, 201, 118;
    // --greyBg: 242, 228, 197;
    --greyBg: 241, 232, 209;
    --lightGreyBg: 246, 239, 223;
    .book-container {
      color: var(--textColorRgb);
      * {
        color: var(--textColorRgb);
      }
    }
  }
}

.figure,
img {
  .dark & {
    filter: invert(1);
  }
}

.chapter-0 img {
  filter: inherit;
}

h1.title {
  font-family: inherit;
}

.actions-menu {
  color: var(--bgColorRgb);
  // box-shadow: 2px 4px 8px rgba($color: #000000, $alpha: 0.1);
  border-radius: 8px;
  left: 50%;
  transform: translate(-50%, -180%);
  position: fixed;
  z-index: 999999;

  // &::after {
  //   top: 100%;
  //   left: 50%;
  //   border: solid transparent;
  //   content: "";
  //   height: 0;
  //   width: 0;
  //   position: absolute;
  //   pointer-events: none;
  //   border-color: rgba(136, 183, 213, 0);
  //   border-top-color: var(--textColorRgb);
  //   border-width: 6px;
  //   margin-left: -6px;
  // }

  ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    min-width: max-content;
  }

  li {
    list-style: none;
    a {
      border-radius: 8px;
    }
    &:first-child a {
      border-radius: 0 8px 8px 0;
    }
    &:last-child a {
      border-radius: 8px 0 0 8px;
    }
    &:only-child a {
      border-radius: 8px;
    }

    & + li a {
      border-inline-start: 1px solid rgba(var(--bgColor), 0.2);
    }
  }
  a {
    color: inherit;
    font-size: 1.6rem;
    padding: 5px 10px;
    display: flex;
    background-color: var(--textColorRgb);
    text-decoration: none;
    transition: background-color 0.3s;
    user-select: none;
  }
}

.highlighted {
  background-color: #fff200ad;
  transition: background-color 0.3s;
}

.selected {
  background-color: #009dff4d;
  transition: background-color 0.3s;
}

.inserted-image {
  break-before: avoid-page;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loading {
  position: relative;
  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(var(--bgColor), 0.8);
    z-index: 9999999;
  }

  &:after {
    @include fontAwesomeIcon("\f110");
    font-size: 5rem;
    animation: spinner 0.8s infinite steps(8);
    position: absolute;
    top: 50%;
    left: 50%;
    color: $primaryColor;
    z-index: 9999999;
    line-height: 1;
    margin-top: -14px;
    margin-left: -14px;
    right: initial;
    margin-right: 0;
  }
}

.ui-loader {
  display: none;
}

.side-panel {
  position: absolute;
  top: 0;
  width: 100%;
  right: 0;
  bottom: 0;
  background-color: var(--bgColorRgb);
  transform: translateX(100%);
  transition: 0.3s;
  z-index: 9999;
  display: flex;
  flex-direction: column;

  &__content {
    margin: 0;
    padding: 0 2rem 0;
    overflow: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  li {
    list-style: none;
    color: var(--textColorRgb);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0;
    font-size: 1.8rem;
    border-bottom: 1px solid rgba(var(--textColor), 0.2);
    text-decoration: none;

    h4 {
      margin: 0;
      font-size: 1.8rem;
      max-width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      min-width: 0;
      overflow: hidden;
      padding-inline-end: 1rem;
      font-weight: 700;
      font-family: $appFont;
    }

    span {
      color: rgba(var(--textColor), 0.5);
      margin-inline-start: auto;
      font-size: 1.4rem;
    }
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      border: 0;
      padding-bottom: 0;
    }
  }
  .action-button {
    padding-inline-start: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    .btn {
      display: flex;
    }
    i {
      color: var(--textColorRgb);
    }
  }
  &.show {
    transform: translateX(0);
  }
}

.highlight-element {
  animation: highlight 1s linear 1;
}

@keyframes highlight {
  from {
    background-color: #fff200ad;
  }
  to {
    background-color: transparent;
  }
}
