h1,
.part_number {
  // break-before: column;
}
.part_number + h1 {
  break-before: avoid;
}
.book-container {
  padding: 6rem 0 8rem;
}
.book-wrapper {
  padding: 0 6rem 0;
  word-break: break-word;
  direction: rtl;
}
.book-chapter h1:first-child {
  break-before: avoid;
}
.book {
  height: calc(100vh - 14rem);
  width: 100%;
  overflow: hidden;
  outline: none;
  column-width: 500rem;
  column-count: auto;
  column-gap: 6rem;
  column-fill: balance;
  scrollbar-width: 0;
  appearance: none;
  transition: .3s;

  &.loading {
    opacity: 0.3;
  }

  @media screen and (min-width: 1023px) {
    column-count: 2;
    column-width: inherit;
  }
}
